body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: #fff;
}

.wrapper {
    max-height: 100%;
    overflow: hidden; 
    display: flex;
    flex-direction: column; 
}

.content {
    flex: 1 1 auto;
}

.container {
    display: flex;
    max-width: 1220px;
    margin: 0 auto;
}

.container-2 {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
}

/* ----------------------------- header ------------------------------- */

/* --------------------------- nav-primary ---------------------------- */

.nav-primary {
    height: 65px;
    background-color: #0D057F;
}

.nav-primary-row {
    display: flex;
    height: 65px;
    width: 100%;
    align-items: center;
}

.brand-directory p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    color: #fff;
    width: 120px;
}

.brand-directory p::before {
    content: url(../images/Star-1.svg);
    position: absolute;
    margin: -10px 0px 0px -13px;
    transform: rotate(89deg);
}

.brand-directory {
    display: flex;
    align-items: center;
    height: 65px;
    padding: 0 35px;
    border-left: 1px solid rgba(255,255,255,0.2);
    border-right: 1px solid rgba(255,255,255,0.2);
    margin-left: 57px;
}

.promo-message {
    margin-left: 232px;
    width: 206px;
}

.promo-message p, a {
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}

.promo-message a {
    border-bottom: 1px solid #fff;
    margin-left: 5px;
}

.field-search {
    width: 170px;
    margin-left: 212px;
    
}

.field-search input, .field-search button {
    outline: none;
    background: #8682BFFF;
}

.field-search input {
    width: 100%;
    height: 38px;
    padding-left: 17px;
    border: 0px solid;
    border-radius: 3px;
    color: #fff;
}

.field-search ::-webkit-input-placeholder {
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    font-family: 'Kumbh Sans', sans-serif;
}

.field-search button {
    border: none;
    height: 0px;
    width: 0px;
    top: 18px;
    right: 101px;
    cursor: pointer;
    margin-left: -31px;
}

.field-search button::before {
    content: url(../images/ICON-Search.svg);
    position: absolute;
    top: 24px;
    margin-left: -7px;

}

.account {
    margin-left: 40px;
}

.cart {
    margin-left: 23px;
}

/* ------------------------------------ nav-secondary -------------------------- */

.nav-secondary {
    background-color: #fff;
    height: 50px;
}

.nav-secondary-row {
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
}

.left-side {
    display: flex;
}

.left-side-p1 {
    font-size: 11px;
    line-height: 24px;
    color: #0D057F;
    font-weight: 700;
    margin-right: 30px;
}

.left-side-p1::after {
    content: url(../images/Right.svg);
    margin: 0px 0px 0px 10px;
    position: absolute;
}

.left-side-p2 {
    font-size: 10px;
    line-height: 24px;
    color: #0D057F;
    opacity: 0.5;
}

.main-nav {
    display: flex;
    margin-left: 20%;
}

.main-nav a {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #0D057F;
    font-weight: bold;
    margin-right: 31px;
    padding-bottom: 16px;
}

.main-nav a:hover {
    border-bottom: 2px solid #0D057F;
}

/* --------------------------------- header-for-mobile -------------------------- */

.header-for-mobile {
    display: none;
}

.header-for-mobile-row {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.line-high {
    width: 100%;
    height: 30px;
    background-color: #0D057F;
}

.line-high p {
    font-size: 14px;
    line-height: 13px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 10px;
}

.low-line {
    display: flex;
    width: 100%;
    height: 65px;
    background-color: #fff;
    border-bottom: 1px solid #D8D6F0;
    justify-content: space-between;
    align-items: center;
}

.search-mobile img, .right-side-icons img {
    width: 30px;
    height: 30px;
}

#cart-icon-mobile {
    width: 38px;
    height: 37px;
    margin-left: 15px;
}

.main-logo-mobile {
    margin-right: -50px;
}

.main-logo-mobile img{
    width: 60px;
}

.search-mobile {
    margin-left: 30px;
}

.right-side-icons {
    margin-right: 25px;
}

/* -------------------------------- header end ----------------------------- */

/* ------------------------------ hero ------------------------------- */

.hero {
    height: 400px;
    background: radial-gradient(62.97% 62.97% at 50% 50%, rgba(13, 5, 127, 0.4) 0%, rgba(255, 255, 255, 0) 100%), url(../images/Header.png);
    background-blend-mode: multiply, normal;
    background-size: cover;
}

.hero-column {
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.hero-logo {
    margin-top: 120px;
}
.hero-p {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 32.6px;
}


.bassic-button {
    margin-top: 40px;
}


.bassic-button a {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 2px solid #B09DD5;
    padding: 16px 45px 12px 46px;
}

.fill-button {
    width: 186px;
    height: 46px;
    background-color: #0D057F;
    margin: 30px 15px -76px 0px;
}

/* ------------------------------ text-with-subtitle ------------------------- */

.text-with-subtitle {
    height: 357px;
    background-color: #FBEFED;
}

.text-with-subtitle-column {
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.text-with-subtitle-p1 {
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: #F17D70;
    margin-top: 30px;
}

.text-with-subtitle-p2 {
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #F17D70;
    font-weight: 600;
    width: 72%;
    margin-top: 24px;
}

.text-with-subtitle-logo {
    margin-top: 34px;
}

/* ----------------------- featured-products --------------------- */

.featured-products {
    height: 601px;
    background-color: #fff;
}

.featured-products h2 {
    font-weight: 800;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    color: #0D057F;
    margin-top: 64px;
    margin-bottom: 42px;
}

.featured-products-row {
    justify-content: space-around;
}

.product-tile {
    display: flex;
    flex-wrap: wrap;
    height: 439px;
    width: 283px;
    background-color: #fff;
}

.product-tile img {
    height: 329px;
}

.name-product {
    font-size: 14px;
    line-height: 18px;
    color: #515151;
    font-weight: 600;
    margin: -14px 136px 0 0;
}

.name-product-2 {
    font-size: 14px;
    line-height: 18px;
    color: #515151;
    font-weight: 600;
    margin: -16px 149px 0 0;
}

.name-product-3 {
    font-size: 14px;
    line-height: 18px;
    color: #515151;
    font-weight: 600;
    margin: -16px 149px 0 0;
}

.name-product-4 {
    font-size: 14px;
    line-height: 18px;
    color: #515151;
    font-weight: 600;
    margin: -16px 88px 0 0;
}

.product-price {
    font-size: 14px;
    line-height: 18px;
    color: #515151;
    opacity: 0.5;
    margin-top: -16px;
}

.bassic-button-add a {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 2px solid #B09DD5;
    padding: 17px 36px 10px 29px;
    margin: 0px 0px 0px 7px;
}

.fill-button-add {
    width: 180px;
    height: 46px;
    background-color: #0D057F;
    margin: 12px 15px -76px 0px;
}

.bassic-button-add-3 a {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 2px solid #B09DD5;
    padding: 17px 36px 10px 29px;
    margin: 0px 0px 0px 8px;
}

.fill-button-add-3 {
    width: 180px;
    height: 46px;
    background-color: #0D057F;
    margin: 12px 2px -58px -60px
}

.bassic-button-add-4 a {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 2px solid #B09DD5;
    padding: 17px 36px 10px 29px;
    margin: 0px 0px 0px 7px;
}

.fill-button-add-4 {
    width: 180px;
    height: 46px;
    background-color: #0D057F;
    margin: 12px 15px -76px -52px;
}

.more-info {
    font-size: 14px;
    line-height: 18px;
    color: #0D057F;
    opacity: 0.5;
    margin: -22px 0 0 0;
}

/* ------------------------- splits ----------------------------- */

.splits-row {
    display: flex;
    flex-wrap: wrap;
}

.split-block {
    height: 720px;
    width: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.split-block img {
    height: 720px;
    width: 720px;
}

.split-block h3 {
    font-size: 60px;
    line-height: 64px;
    color: #0D057F;
    font-weight: 600;
}

.split-block p {
    font-size: 20px;
    line-height: 32px;
    color: #515151;
    font-weight: 600;
    text-align: center;
}

.split-block-2 h3 {
    margin-top: 202px;
}

.split-block-3 h3 {
    margin-top: 236px;
}

.split-block-2 p, .split-block-3 p {
    width: 400px;
    margin-top: 16px;
}

.split-block-3 p {
    width: 366px;
}

.split-block-2 {
    background-color: #FFF7F5;
}

.split-block-3 {
    background-color: #F3F5FD;
}

.fill-button-slit-2 {
    width: 191px;
    height: 48px;
    background-color: #0D057F;
    margin: 56px 15px -76px 0px;
}

.bassic-button-split-2 a {
    font-weight: 700;
}

.bassic-button-split-2 {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 2px solid #B09DD5;
    padding: 16px 36px 10px 29px;
    margin: 20px 0px 0px -1px;
}

.fill-button-slit-3 {
    width: 191px;
    height: 47px;
    background-color: #0D057F;
    margin: 50px 14px -65px 0px;
}

.bassic-button-split-3 a {
    font-weight: 700;
}

.bassic-button-split-3 {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 2px solid #B09DD5;
    padding: 16px 7px 8px 6px;
    margin: 11px 0px 0px -1px;
}

#last-split {
    margin-top: 236px;
}

#last-split-p {
    width: 397px;
}

/* ------------------------------ press-carousel -------------------------------- */

.press-carousel-column {
    flex-direction: column;
    align-items: center;
    margin-top: 84px;
}

.fill-bg-press {
    width: 1061px;
    height: 391px;
    background-color: #FBEFED;
    margin: 0% 40px -34% 0;
}

.main-press-carousel {
    display: flex;
    flex-wrap: wrap;
    width: 1061px;
    height: 391px;
    border: 4px solid #F17D70;
}

.main-press-carousel h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 1px;
    color: #0D057F;
    width: 100%;
    margin-top: 78px;
}

.main-press-carousel div {
    width: 160px;
    height: 75.5px;
    text-align: center;
}

.press-img-1 {
    margin: 28px 10px 34.5px 98px ;
}

.press-img-2, .press-img-3, .press-img-4 {
    margin: 28px 10px 34.5px 0;
}

.press-img-5 {
    margin: 28px 100px 34.5px 0;
}

.press-img-6 {
    margin: 0 10px 73px 98px;
}

.press-img-7, .press-img-8 {
    margin: 0 10px 73px 0;
}

.press-img-9 {
    padding-top: 22px;
    margin-right: 10px;
}

/* ------------------------------- social-feed ----------------------------- */
 .social-feed-column {
    flex-direction: column;
    align-items: center;
    display: flex;
    width: 1657px;
 }

 .social-feed-column h3 {
    width: 100%;
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    color: #0D057F;
    margin-top: 105px;
    margin-bottom: 58px;
 }

.social-feed-images {
    display: flex;
}

.social-feed-img-1, .social-feed-img-2, .social-feed-img-4, .social-feed-img-5 {
    margin-right: 32px;
}

.social-feed-img-3 {
    margin-right: 29px;
}

.social-feed-img-6 {
    margin-right: 0;
}

.social-feed-images img {
    height: 250px;
    width: auto;
}

.social-feed-column a {
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    color: #0D057F;
    margin: 32px 0 80px 0;
}

/* ---------------------------------------- footer ------------------------------------ */

.footer-primary {
    height: 16px;
    background-color: #F9F5EF;
    padding: 25px 0 25px 0px;
}

.footer-primary-row {
    justify-content: center;
}

.footer-primary-row p a {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.8px;
    color: #515151;
    margin-top: 25px;
}

.footer-primary-row a {
    text-decoration: revert;
    margin-left: 5px;
}

/* ---------------- footer-secondary -------------- */

.footer-secondary {
    background-color:  #B09DD5;
}
.footer-secondary-block-1 {
    width: 564px;
    height: 204px;
    background-color: #0D057F;
}

.footer-secondary-block-1 h3 {
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 1px;
    color: #FFFFFF;
    font-weight: 600;
    margin: 49px 0 0 96px;
}

.footer-secondary-block-1 input[type="text"] {
    background-color: #0D057F;
    border: none;
    color: #fff;
    margin: 33px 0 0 91px;
    width: 59%;
}

#email ::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.933333px;
    color: #FFFFFF;
    opacity: 0.4;
}

.footer-secondary-block-1 button {
    background-color: #0D057F;
    color: #fff;
    border: none;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1.3125px;
}

.white-line {
    height: 1px;
    width: 409px;
    background-color: #fff;
    margin: 8px 0 0 94px;
    opacity: 0.5;
}

.footer-secondary-block-2 {
    display: flex;
    width: 485px;
    justify-content: flex-end;
    align-items: center;
}

.footer-secondary-block-2 nav {
    display: flex;
}

.footer-secondary-block-2 a {
    font-size: 14px;
    line-height: 63px;
    letter-spacing: 0.35px;
    color: #FFFFFF;
    font-weight: 600;
}

.footer-nav div {
    margin-right: 57px;
}

#nav-support {
    margin-right: 0;
}

.footer-secondary-block-3 {
    display: flex;
    width: 391px;
    justify-content: center;
    align-items: center;
}

.footer-icons img {
    margin-right: 38px;
}

#last-footer-icon {
    margin-right: 0;
}

/* -------------------------------------------- adaptive ------------------------------ */

/* -------------------------------- 1367px ------------------------------------ */

@media screen and (max-width:1367px) {
    .social-feed-img-1, .social-feed-img-6 {
        display: none;
    }

    .social-feed-column {
        width: 1366px;
    }

    .split-block {
        height: 683px;
        width: 683px;
    }

    .split-block img {
        height: 683px;
        width: 683px;
    }
}

/* ---------------------------- 1025px ------------------------------------ */

@media screen and (max-width:1025px) {
    .main-logo {
        margin-left: 30px;
    }

    .brand-directory {
        margin-left: 22px;
    }

    .promo-message {
        margin-left: 94px;
    }

    .field-search {
        margin-left: 135px;
    }

    .left-side {
        margin-left: 30px;
    }

    .main-nav {
        margin-left: 13%;
    }

    .featured-products-row {
        flex-wrap: wrap;
    }

    .product-tile {
        margin: 23px 30px;
    }

    .splits-row {
        margin-top: 50%;
    }

    .split-block {
        height: 512px;
        width: 512px;
    }

    .split-block img {
        height: 512px;
        width: 512px;
    }

    .split-block-2 h3 {
        margin-top: 87px;
    }

    .split-block-3 h3, #last-split {
        margin-top: 105px;
    }

    .main-press-carousel div {
        width: 134px;
        height: 53.5px;
    } 

    .press-img-1 {
        margin: 14px 26px 29.5px 40px;
    }

    .press-img-2, .press-img-3, .press-img-4 {
        margin: 15px 18px 34.5px 0;
    }

    .press-img-6 {
        margin: 0px 13px 0px 32px;
    }

    .press-img-7, .press-img-8 {
        margin: 0 37px 61px 0;
    }

    .main-press-carousel {
        width: 850px;
        height: 348px;
    }

    .press-img-5 {
        margin: 19px 44px 34.5px 0;
    }

    .fill-bg-press {
        width: 850px;
        height: 350px;
        margin: 0% 59px -37% 0;
    }

    .social-feed-column {
        width: 1025px;
    }

    .social-feed-img-5 {
        margin-right: 0px;
    }

    .social-feed-images img {
        height: 212px;
        width: auto;
    }

    .footer-secondary-block-1 h3 {
        margin: 49px 0 0 50px;
        font-size: 23px;
    }

    .footer-secondary-block-1 input[type="text"] {
        margin: 33px 0 0 50px;
    }

    .white-line {
        width: 310px;
        margin: 8px 0 0 50px;
    }

    .footer-nav div {
        margin-right: 44px;
    }
}

/* ---------------------------- 824px ------------------------------------ */

@media screen and (max-width:824px) {
    .brand-directory {
        padding: 0 19px;
    }

    .field-search {
        width: 104px;
        margin-left: 52px;
    }

    .promo-message {
        margin-left: 45px;
    }

    .main-nav {
        margin-left: 9%;
    }

    .text-with-subtitle-p1 {
        font-size: 28px;
        margin-top: 17px;
    }

    .text-with-subtitle-p2 {
        font-size: 17px;
        line-height: 30px;
    }

    .splits-row {
        margin-top: 60%;
    }

    .split-block {
        height: 411.5px;
        width: 411.5px;
    }

    .split-block img {
        height: 411.5px;
        width: 411.5px;
    }

    .split-block h3 {
        font-size: 29px;
        line-height: 30px;
        margin-top: 92px;
    }

    .split-block-2 p, .split-block-3 p {
        width: 327px;
        margin-top: 13px;
    }
    .split-block p {
        font-size: 14px;
        line-height: 28px;
    }

    #last-split-p {
        width: 343px;
    }

    .fill-bg-press {
        display: none;
    }

    .main-press-carousel {
        width: 699px;
        height: 400px;
        background-color: #FBEFED;
    }

    .main-press-carousel h3 {
        margin-top: 49px;
    }

    .press-img-9 {
        margin: -35px 10px 0 32%;
    }

    .press-img-10 {
        margin: -30px 0px 0px 0px;
    }

    .press-img-5 {
        margin: 5px 0px 34.5px 29px;
    }

    .social-feed-column {
        width: 812px;
    }

    .social-feed-column h3 {
        font-size: 26px;
        margin-top: 47px;
        margin-bottom: 16px;
    }

    .social-feed-images img {
        height: 167px;
        width: auto;
    }

    .social-feed-column a {
        margin: 15px 0 34px 0;
    }

    .footer-secondary-block-1 input[type="text"] {
        margin: 27px 0 0 23px;
    }

    .footer-secondary-block-1 {
        width: 360px;
    }

    .white-line {
        width: 304px;
        margin: 10px 0 0 23px;
    }

    .footer-secondary-block-2 {
        display: flex;
        width: 260px;
        justify-content: center;
        align-items: center;
    }

    .footer-secondary-block-2 nav {
        flex-direction: column;
    }

    .footer-nav div {
        margin-right: 0px;
        margin-top: -26px;
    }

    .footer-icons img {
        margin-right: 45px;
    }
}

/* ---------------------------- 813px ------------------------------------ */

@media screen and (max-width:813px) {
    .brand-directory {
        padding: 0 19px;
    }

    .field-search {
        width: 104px;
        margin-left: 52px;
    }

    .promo-message {
        margin-left: 45px;
    }

    .main-nav {
        margin-left: 9%;
    }

    .text-with-subtitle-p1 {
        font-size: 28px;
        margin-top: 17px;
    }

    .text-with-subtitle-p2 {
        font-size: 17px;
        line-height: 30px;
    }

    .splits-row {
        margin-top: 60%;
    }

    .split-block {
        height: 406px;
        width: 406px;
    }

    .split-block img {
        height: 406px;
        width: 406px;
    }

    .split-block h3 {
        font-size: 29px;
        line-height: 30px;
        margin-top: 92px;
    }

    .split-block-2 p, .split-block-3 p {
        width: 327px;
        margin-top: 13px;
    }
    .split-block p {
        font-size: 14px;
        line-height: 28px;
    }

    #last-split-p {
        width: 343px;
    }

    .fill-bg-press {
        display: none;
    }

    .main-press-carousel {
        width: 699px;
        height: 400px;
        background-color: #FBEFED;
    }

    .main-press-carousel h3 {
        margin-top: 49px;
    }

    .press-img-9 {
        margin: -35px 10px 0 32%;
    }

    .press-img-10 {
        margin: -30px 0px 0px 0px;
    }

    .press-img-5 {
        margin: 5px 0px 34.5px 29px;
    }

    .social-feed-column {
        width: 812px;
    }

    .social-feed-column h3 {
        font-size: 26px;
        margin-top: 47px;
        margin-bottom: 16px;
    }

    .social-feed-images img {
        height: 167px;
        width: auto;
    }

    .social-feed-column a {
        margin: 15px 0 34px 0;
    }

    .footer-secondary-block-1 input[type="text"] {
        margin: 27px 0 0 23px;
    }

    .footer-secondary-block-1 {
        width: 360px;
    }

    .white-line {
        width: 304px;
        margin: 10px 0 0 23px;
    }

    .footer-secondary-block-2 {
        display: flex;
        width: 260px;
        justify-content: center;
        align-items: center;
    }

    .footer-secondary-block-2 nav {
        flex-direction: column;
    }

    .footer-nav div {
        margin-right: 0px;
        margin-top: -26px;
    }

    .footer-icons img {
        margin-right: 45px;
    }
}

/* ---------------------------- 769px ------------------------------------ */

@media screen and (max-width:769px) {
    .brand-directory {
        padding: 0 16px;
    }

    .promo-message {
        margin-left: 35px;
    }

    .field-search {
        margin-left: 40px;
    }
    .field-search {
        width: 97px;
    }

    .main-nav {
        margin-left: 11%;
    }

    .left-side {
        margin-left: 25px;
    }

    .text-with-subtitle-logo {
        margin-top: 14px;
    }

    .text-with-subtitle-p1 {
        margin-top: 15px;
    }

    .text-with-subtitle-p2 {
        margin-top: 19px;
    }

    .product-tile {
        margin: 15px 31px;
    }

    .splits-row {
        margin-top: 59%;
    }

    .split-block {
        height: 384px;
        width: 384px;
    }

    .split-block img {
        height: 384px;
        width: 384px;
    }

    .split-block h3 {
        font-size: 33px;
        line-height: 20px;
    }

    .split-block p {
        font-size: 16px;
        line-height: 29px;
    }

    .split-block-2 p, .split-block-3 p {
        width: 330px;
        margin-top: 12px;
    }

    #last-split-p {
        width: 340px;
    }

    .split-block-2 h3 {
        margin-top: 58px;
    }

    .split-block-3 h3, #last-split {
        margin-top: 76px;
    }

    .main-press-carousel img {
        width: 100px;
    }

    .press-img-1 {
        margin: 15px 0px -0.5px 42px;
    }

    .main-press-carousel h3 {
        margin-top: 29px;
    }

    .press-img-5 {
        margin: -3px -2px -0.5px 17px;
    }

    .press-img-9 {
        padding-top: 0px;
        margin-right: 13px;
        margin-left: 29%;
    }

    .press-img-7, .press-img-8 {
        margin: 0 37px 29px 0;
    }

    .main-press-carousel {
        width: 670px;
        height: 286px;
    }

    .fill-bg-press {
        width: 670px;
        height: 286px;
        margin: 0% 36px -40% 0;
    }

    .social-feed-column {
        width: 768px;
    }

    .social-feed-images img {
        height: 151px;
        width: auto;
    }

    .social-feed-column h3 {
        font-size: 26px;
        line-height: 0px;
        margin-top: 79px;
        margin-bottom: 40px;
    }

    .social-feed-column a {
        margin: 16px 0 27px 0;
    }

    .footer-secondary-block-1 h3 {
        margin: 40px 0 0 30px;
        font-size: 23px;
    }

    .footer-secondary-block-1 input[type="text"] {
        margin: 36px 0 0 29px;
    }

    .footer-secondary-block-1 {
        width: 360px;
    }

    .white-line {
        width: 304px;
        margin: 10px 0 0 30px;
    }

    .footer-secondary-block-2 {
        display: flex;
        width: 260px;
        justify-content: center;
        align-items: center;
    }

    .footer-secondary-block-2 nav {
        flex-direction: column;
    }

    .footer-nav div {
        margin-right: 0px;
        margin-top: -26px;
    }

    .footer-icons img {
        margin-right: 45px;
    }
}

/* ---------------------------- 737px ------------------------------------ */

@media screen and (max-width:737px) {
    .promo-message {
        margin-left: 15px;
    }

    .field-search {
        margin-left: 38px;
        width: 86px;
    }

    .main-nav a {
        font-size: 12px;
    }

    .main-nav {
        margin-left: 12%;
    }

    .split-block {
        height: 368px;
        width: 368px;
    }

    .split-block img {
        height: 368px;
        width: 368px;
    }

    .social-feed-column {
        width: 736px;
    }

}

/* ---------------------------- 732px ------------------------------------ */

@media screen and (max-width:732px) {
    .split-block {
        height: 365.5px;
        width: 365.5px;
    }

    .split-block img {
        height: 365.5px;
        width: 365.5px;
    }
}

/* ---------------------------- 721px ------------------------------------ */

@media screen and (max-width:721px) {
    .main-nav a {
        font-size: 11px;
    }

    .split-block {
        height: 360px;
        width: 360px;
    }

    .split-block img {
        height: 360px;
        width: 360px;
    }

    .social-feed-column {
        width: 720px;
    }
}

/* ---------------------------- 668px ------------------------------------ */

@media screen and (max-width:668px) {
    .promo-message p, a {
        font-size: 11px;
    }

    .field-search {
        margin-left: -26px;
        width: 86px;
    }

    .main-nav a {
        font-size: 10px;
    }

    .main-nav {
        margin-left: 10%;
    }

    .splits-row {
        margin-top: 209%;
    }

    .split-block {
        height: 333.5px;
        width: 333.5px;
    }

    .split-block img {
        height: 333.5px;
        width: 333.5px;
    }

    .fill-button-slit-2 {
        width: 171px;
    }

    .fill-button-slit-3 {
        width: 161px;
    }

    .main-press-carousel {
        width: 670px;
        height: 277px;
        border: none;
    }

    .social-feed-column {
        width: 667px;
    }

    .social-feed-images img {
        height: 135px;
        width: auto;
    }

    .footer-icons img {
        margin-right: 24px;
    }
    
}

/* ---------------------------- 654px ------------------------------------ */

@media screen and (max-width:654px) {
    .split-block {
        height: 326.5px;
        width: 326.5px;
    }

    .split-block img {
        height: 326.5px;
        width: 326.5px;
    }

    .split-block-2 h3 {
        margin-top: 30px;
    }

    .social-feed-column {
        width: 653px;
    }
}

/* ---------------------------- 641px ------------------------------------ */

@media screen and (max-width:641px) {
    .main-nav a {
        font-size: 9px;
    }

    .splits-row {
        margin-top: 218%;
    }

    .split-block {
        height: 320px;
        width: 320px;
    }

    .split-block img {
        height: 320px;
        width: 320px;
    }

    .split-block h3 {
        font-size: 28px;
        margin-top: 26px;
    }

    .split-block p {
        font-size: 13px;
        line-height: 27px;
    }

    .split-block-2 p, .split-block-3 p {
        width: 277px;
        margin-top: 12px;
    }

    #last-split {
        margin-top: 42px;
    }

    #last-split {
        margin-top: 42px;
    }

    .social-feed-column {
        width: 640px;
    }

    .social-feed-column h3 {
        font-size: 23px;
    }

    .social-feed-images img {
        height: 126px;
        width: auto;
    }
}

/* ---------------------------- 569px ------------------------------------ */

@media screen and (max-width:569px) {
    .header-for-mobile {
        display: block;
    }

    .nav-primary {
        display: none;
    }
    
    .main-nav {
        display: none;
    }

    .left-side {
        margin-left: 31px;
    }

    .left-side-p1 {
        font-size: 15px;
    }

    .left-side-p2 {
        font-size: 14px;
    }


    .hero {
        background-image: url(../images/hero-bg-mobile.svg);
    }
    .text-with-subtitle-p1 {
        font-size: 23px;
    }

    .text-with-subtitle-p2 {
        font-size: 13px;
    }

    .product-tile {
        margin: 0px 0px;
        width: 200px;
    }

    .product-tile img {
        width: 200px;
        height: 248px;
    }

    .name-product {
        font-size: 12px;
        margin: -41px 71px 0 0
    }

    .product-price {
        font-size: 13px;
        margin-top: -42px;
    }

    .fill-button-add {
        width: 180px;
        height: 46px;
        margin: 29px 15px -76px 0px;
    }

    .name-product-2 {
        font-size: 12px;
        margin: -42px 81px 0 0
    }

    .splits-row {
        margin-top: 72%;
    }

    .name-product-3 {
        font-size: 12px;
        margin: -40px 79px 0 0;
    }

    .bassic-button-add-3 {
        margin: -50px 0px 0px -3px;
    }

    .fill-button-add-3 {
        margin: -12px 2px -55px -63px;
    }

    .fill-button-add {
        margin: -28px 0px -12px 1px;
    }

    .bassic-button-add {
        margin: -70px 0 0 0;
    }

    .more-info {
        margin: -62px 0 0 0;
    }

    .name-product-4 {
        font-size: 12px;
        margin: -41px 28px 0 0;
    }

    .bassic-button-add-4 {
        margin: -50px 0 0 0;
    }

    .fill-button-add-4 {
        margin: -13px 15px -76px -52px;
    }

    .split-block {
        height: 568px;
        width: 568px;
    }

    .split-block img {
        height: 568px;
        width: 568px;
    }

    #split-1 {
        order: 1;
    }

    #split-2 {
        order: 2;
    }

    #split-4 {
        order: 3;
    }

    #split-3 {
        order: 4;
    }

    #split-5 {
        order: 5;
    }

    #split-6 {
        order: 6;
    }

    .split-block-3 h3, #last-split {
        margin-top: 128px;
    }

    .split-block-2 h3 {
        margin-top: 120px;
    }

    .fill-bg-press {
        display: none;
    }

    .main-press-carousel {
        background: #FBEFED;
        border: none;
        margin-top: -85px;
    }

    .press-img-1 {
        margin: 15px 0px 0.5px 140px;
    }

    .press-img-2, .press-img-3 {
        margin: 15px 18px -0.5px 0px;
    }

    .press-img-4 {
        margin: 0px 0 0 142px;
    }

    .press-img-5 {
        margin: -3px -2px -0.5px -1px;
    }

    .press-img-6 {
        margin: 0px 13px 0px 20px;
    }

    .press-img-7 {
        margin: 0px 0 0 148px
    }

    .press-img-8 {
        margin: 0 0 0 0;
    }

    .press-img-9 {
        margin: 14px 0 0 0;
    }

    .press-img-10 {
        margin: -21px 0 0 40%;
    }

    .social-feed-column {
        width: 568px;
    }

    .social-feed-img-5 {
        display: none;
    }

    .social-feed-img-4 {
        margin-right: 0;
    }

    .social-feed-images img {
        height: 239px;
        width: auto;
    }

    .footer-secondary-row {
        flex-wrap: wrap;
    }

    .footer-secondary-block-1 {
        width: 100%;
    }

    .footer-secondary-block-1 h3 {
        margin: 40px 0 0 30px;
        text-align: center;
    }

    .footer-secondary-block-1 input[type="text"] {
        margin: 36px 0 0 81px;
    }

    .footer-secondary-block-2 {
        width: 100%;
    } 

    .footer-nav {
        margin-top: 37px;
    }

    .footer-secondary-block-3 {
        display: flex;
        width: 100%;
        margin: 6% 0 10% 0;
    } 

    .white-line {
        width: 74%;
        margin: 12px 0 0 79px;
    }
}

/* ---------------------------- 541px ------------------------------------ */

@media screen and (max-width:541px) {
    .header-for-mobile {
        display: block;
    }

    .nav-primary {
        display: none;
    }
    
    .main-nav {
        display: none;
    }

    .left-side {
        margin-left: 31px;
    }

    .left-side-p1 {
        font-size: 15px;
    }

    .left-side-p2 {
        font-size: 14px;
    }

    .hero {
        background-image: url(../images/hero-bg-mobile.svg);
    }

    .text-with-subtitle-p1 {
        font-size: 23px;
    }

    .text-with-subtitle-p2 {
        font-size: 13px;
    }

    .product-tile {
        margin: 0px 0px;
        width: 200px;
    }

    .product-tile img {
        width: 200px;
        height: 248px;
    }

    .name-product {
        font-size: 12px;
        margin: -41px 71px 0 0
    }

    .product-price {
        font-size: 13px;
        margin-top: -42px;
    }

    .fill-button-add {
        width: 180px;
        height: 46px;
        margin: 29px 15px -76px 0px;
    }

    .name-product-2 {
        font-size: 12px;
        margin: -42px 81px 0 0
    }

    .splits-row {
        margin-top: 72%;
    }

    .name-product-3 {
        font-size: 12px;
        margin: -40px 79px 0 0;
    }

    .bassic-button-add-3 {
        margin: -50px 0px 0px -3px;
    }

    .fill-button-add-3 {
        margin: -12px 2px -55px -63px;
    }

    .fill-button-add {
        margin: -28px 0px -12px 1px;
    }

    .bassic-button-add {
        margin: -70px 0 0 0;
    }

    .more-info {
        margin: -62px 0 0 0;
    }

    .name-product-4 {
        font-size: 12px;
        margin: -41px 28px 0 0;
    }

    .bassic-button-add-4 {
        margin: -50px 0 0 0;
    }

    .fill-button-add-4 {
        margin: -13px 15px -76px -52px;
    }

    .split-block {
        height: 540px;
        width: 540px;
    }

    .split-block img {
        height: 540px;
        width: 540px;
    }

    #split-1 {
        order: 1;
    }

    #split-2 {
        order: 2;
    }

    #split-4 {
        order: 3;
    }

    #split-3 {
        order: 4;
    }

    #split-5 {
        order: 5;
    }

    #split-6 {
        order: 6;
    }

    .split-block-3 h3, #last-split {
        margin-top: 128px;
    }

    .split-block-2 h3 {
        margin-top: 120px;
    }

    .fill-bg-press {
        display: none;
    }

    .main-press-carousel {
        background: #FBEFED;
        border: none;
        margin-top: -85px;
    }

    .press-img-1 {
        margin: 15px 0px 0.5px 140px;
    }

    .press-img-2, .press-img-3 {
        margin: 15px 18px -0.5px 0px;
    }

    .press-img-4 {
        margin: 0px 0 0 142px;
    }

    .press-img-5 {
        margin: -3px -2px -0.5px -1px;
    }

    .press-img-6 {
        margin: 0px 13px 0px 20px;
    }

    .press-img-7 {
        margin: 0px 0 0 148px
    }

    .press-img-8 {
        margin: 0 0 0 0;
    }

    .press-img-9 {
        margin: 14px 0 0 0;
    }

    .press-img-10 {
        margin: -21px 0 0 40%;
    }

    .social-feed-column {
        width: 540px;
    }

    .social-feed-img-5 {
        display: none;
    }

    .social-feed-img-4 {
        margin-right: 0;
    }

    .social-feed-images img {
        height: 239px;
        width: auto;
    }

    .footer-secondary-row {
        flex-wrap: wrap;
    }

    .footer-secondary-block-1 {
        width: 100%;
    }

    .footer-secondary-block-1 h3 {
        margin: 40px 0 0 30px;
        text-align: center;
    }

    .footer-secondary-block-1 input[type="text"] {
        margin: 36px 0 0 81px;
    }

    .footer-secondary-block-2 {
        width: 100%;
    } 

    .footer-nav {
        margin-top: 37px;
    }

    .footer-secondary-block-3 {
        display: flex;
        width: 100%;
        margin: 6% 0 10% 0;
    } 

    .white-line {
        width: 74%;
        margin: 12px 0 0 79px;
    }
}

/* ---------------------------- 415px ------------------------------------ */

@media screen and (max-width:415px) {
    .line-high p {
        font-size: 12px;
    }
    
    .product-tile {
        margin: -9px 0px;
        width: 164px;
        height: 396px;
    }

    .product-tile img {
        width: 164px;
        height: 202px;
    }

    .name-product {
        font-size: 12px;
        margin: -44px 37px 0 0;
    }

    .product-price {
        font-size: 13px;
        margin-top: -43px;
    }

    .fill-button-add {
        width: 142px;
        height: 37px;
        margin: -37px 0px 0px 2px;
    }

    .bassic-button-add {
        padding: 0px -1px 0px 0px;
        margin: -79px 0 0 0;
    }

    .bassic-button-add a {
        padding: 11px 14px 10px 12px;
        margin: 0px 0px 0px 7px;
    }

    .name-product-2 {
        margin: -43px 45px 0 0;
    }

    .fill-button-add-3 {
        width: 142px;
        height: 37px;
        margin: -37px 0px 0px 0px;
    }

    .name-product-3 {
        margin: -36px 45px 0 0;
    }

    .product-price-3 {
        margin-top: -34px;
    }

    .more-info {
        margin: -54px 0 0 0;
    }

    .bassic-button-add-3 a {
        padding: 17px 14px 6px 13px;
    }

    .bassic-button-add-3 {
        margin: -65px 0px 0px -3px;
    }

    .text-with-subtitle-p1 {
        font-size: 21px;
    }

    .text-with-subtitle-p2 {
        font-size: 11px;
    }

    .fill-button-add-4 {
        width: 142px;
        height: 37px;
        margin: -37px 0px 0px 0px;
    }

    .name-product-4 {
        font-size: 10px;
        margin: -38px 16px 0 0;
    }

    .product-price-4 {
        margin-top: -34px;
    }

    .bassic-button-add-4 a {
        padding: 17px 14px 6px 13px;
    }

    .bassic-button-add-4 {
        margin: -65px 0 0px -2px;
    }

    .split-block {
        height: 414px;
        width: 414px;
    }

    .split-block img {
        height: 414px;
        width: 414px;
    }

    .split-block-3 h3, #last-split {
        margin-top: 76px;
    }

    .split-block-2 h3 {
        margin-top: 66px;
    }

    .press-img-2, .press-img-3 {
        margin: 16px -10px -0.5px 0px;
    }

    .press-img-6 {
        margin: 0px 13px 0px -9px;
    }

    .press-img-7 {
        margin: 0px 0 0 141px;
    }

    .press-img-9 {
        margin: 14px 0 0 -10px;
    }

    .social-feed-column {
        width: 414px;
    }

    .social-feed-column h3 {
        font-size: 22px;
        margin-top: 54px;
    }

    .social-feed-images img {
        height: 175px;
        width: auto;
    }

    .footer-secondary-block-1 input[type="text"] {
        margin: 36px 0 0 52px;
    }

    .white-line {
        width: 77%;
        margin: 12px 0 0 53px;
    }
    
    .footer-secondary-block-1 h3 {
        margin: 40px 0 0 0px;
    }

    .footer-secondary-block-1 {
        width: 100%;
    }

    .footer-secondary-block-2 {
        display: flex;
        width: 100%;
    }

}

/* ---------------------------- 376px ------------------------------------ */

@media screen and (max-width:376px)  {
    
    .split-block {
        height: 375px;
        width: 375px;
    }
    
    .split-block img {
        height: 375px;
        width: 375px;
    }

    .social-feed-column {
        width: 375px;
    }

    .social-feed-column h3 {
        font-size: 20px;
        margin-top: 52px;
    }

    .social-feed-images img {
        height: 155px;
        width: auto;
    }

    .footer-secondary-block-1 input[type="text"] {
        margin: 37px 0 0 39px;
    }

    .white-line {
        width: 80%;
        margin: 12px 0 0 39px;
    }
}

/* ---------------------------- 361px ------------------------------------ */

@media screen and (max-width:361px) {
    .line-high p {
        font-size: 11px;
    }

    .text-with-subtitle-p2 {
        line-height: 27px;
    }

    .featured-products h2 {
        font-size: 26px;
        margin-top: 44px;
        margin-bottom: 34px;
    }

    .split-block {
        height: 360px;
        width: 360px;
    }

    .split-block img {
        height: 360px;
        width: 360px;
    }

    .split-block-3 h3, #last-split {
        margin-top: 54px;
    }

    .split-block-2 h3 {
        margin-top: 42px;
    }

    .main-press-carousel img {
        width: 79px;
        height: 34px;
    }

    .press-img-2, .press-img-3 {
        margin: 16px -10px -0.5px -20px;
    }

    .press-img-1 {
        margin: 15px 0px 0.5px 160px;
    }

    .press-img-5 {
        margin: -3px -22px -0.5px -26px;
    }

    .press-img-4 {
        margin: 0px 0 0 166px;
    }

    .press-img-8 {
        margin: 0 -13px 0 -27px;
    }

    .press-img-7 {
        margin: 0px 0 0 162px;
    }

    .press-img-9 {
        margin: 1px 0 0 -10px;
    }

    .social-feed-column {
        width: 360px;
    }

    .social-feed-column h3 {
        font-size: 18px;
    }

    .social-feed-images img {
        height: 148px;
        width: auto;
    }
    
}

/* ---------------------------- 321px ------------------------------------ */

@media screen and (max-width:321px) {
    .line-high p {
        font-size: 9px;
    }

    .right-side-icons {
        margin-right: 9px;
    }

    .text-with-subtitle-p1 {
        font-size: 22px;
        margin-top: 12px;
    }

    .text-with-subtitle-p2 {
        font-size: 13px;
        line-height: 23px;
        margin-top: 14px;
    }

    .splits-row {
        margin-top: 307%;
    }

    .split-block {
        height: 320px;
        width: 320px;
    }

    .split-block img {
        height: 320px;
        width: 320px;
    }

    #last-split-p {
        width: 260px;
    }

    .split-block p {
        font-size: 13px;
        line-height: 23px;
    }

    .split-block-3 h3, #last-split {
        margin-top: 38px;
    }

    .split-block-2 p, .split-block-3 p {
        width: 274px;
    }

    .split-block h3 {
        font-size: 27px;
        line-height: 23px;
        margin-top: 31px;
    }

    .press-carousel {
        display: none;
    }

    .social-feed-column {
        width: 320px;
    }

    .social-feed-column h3 {
        font-size: 17px;
        margin-top: 44px;
        margin-bottom: 30px;
    }

    .social-feed-images img {
        height: 125px;
        width: auto;
    }

    .footer-secondary-block-1 {
        width: 100%;
    }

    .white-line {
        width: 268px;
    }

    .footer-secondary-block-2 {
        width: 100%;
    }



}



